@model IEnumerable<EasyShoppingCart01.Models.tProduct>
@{
    ViewBag.Title = "產品列表";
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<h2>產品列表</h2>

<div class="row" style="margin-top:20px;">
    @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="~/images/@item.fImg" style="width:200px;height:270px;"/>
                        <div class="caption d-flex">
                            <h4>@item.fName</h4>
                            <br />
                            <div>
                                <p>單價:@item.fPrice</p>
                                <p><a href="@Url.Action("AddCar","Member")?fPId=@item.fPId" class="btn btn-primary">加入購物車</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            }
</div>

